<div class="features-container">
    <!-- <div class="scroll-button left" (click)="scrollLeft()">&#9665;</div> -->
    <!-- left and right *** Accessible *** buttons are WIP -->

    <div class="feature-block">
        <h3>Page 1</h3>
        <a routerLink="/feature1">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 2</h3>
        <a routerLink="/feature2">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 3</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 4</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 5</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 6</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 7</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 8</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 9</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <div class="feature-block">
        <h3>Page 10</h3>
        <a routerLink="/feature3">View Demo</a>
    </div>

    <!-- <div class="scroll-button right" (click)="scrollRight()">&#9655;</div> -->
</div>